<div style = "padding-top: 5%"></div>
<img class ="Profile" src="profile.jfif">
<div style = "padding-top: 5%"></div>
<div style = "padding-left: 5%; padding-right: 10%"></divstyle>
  <h1 class="Header">About Me</h1>
  <p style = "font-size: 2vh">Hello! I am a passionate Academic/Hobby Software Developer looking to become a passionate, <strong>Professional</strong>/Hobby 
    Software Developer! Academically I focus on Computer Science and Mathematics at the University of Wisconsin (UW) Whitewater, I transferred to UWW after graduating from 
    UW-Baraboo/Sauk-County with High Honors and an Associates Degree in Arts and Science.<br><br> I am from a small farm in rural South-Western Wisconsin, which
    leads to a few of some obvious Farmer hobbies, such as: Welding, Trading Stocks, Hunting, Building Cloud Computing Applications, Kayaking, Disc Golf,
    Gardening, Playing Around with Text Classification Neural Network Models, Cooking, and Over Critiquing Movies. If I had to describe myself I would say
    creative, analytical, friendly conversationalist, and odd in an (hopefully) un-tiring way. I tend to favor and work best with other passionate individuals
    with different methodologies/philosophies of problem solving, I believe any problem can be solved optimally if there are sufficient enough perspectives.
  </p>
</div>