<div class="sidenav">
    <p class="h1" style="text-align:center; font: size 5vw; color: #B22222;">
      Jacob Gasser<br>
      <p style="text-align:center; font-size:2vw; color: #B22222;">&ltdeveloper&gt</p>
    </p><div style = "padding-top: 20%"></div>
    <span id='btns'>
      <button class="btn" onclick="window.location.href='/';" >About Me</button><div style = "padding-top: 5%"></div>
      <button class="btn" onclick="window.location.href='/portfolio';">Software Portfolio</button><div style = "padding-top: 5%"></div>
      <button class="btn" onclick="window.location.href='/journey';">Software Journey</button><div style = "padding-top: 5%"></div>
      <button class="btn" onclick="window.location.href='/contact';">Contact Me</button><div style = "padding-top: 5%"></div>
    </span>
    <span class="links">
      <a href="https://github.com/GasserJC?tab=repositories"><img style="width: 5.6vh" src="github.png"></a>
      <a href="https://www.linkedin.com/in/jacob-gasser-2824b9187/"><img style="width: 12vh" src="linkedin.png"></a>
      <a href="/resume"><img style="width: 7vh" src="resume.png"></a>
    </span>
</div>