<html>
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="favicon.png">
  <script src="current.js"></script>
  <meta name="description" content="Jacob Gasser">
  <title>Jacob Gasser</title>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="window" style = "padding-left: 25%; padding-top: 5%; padding-right: 5%;">
        <h1 class = "Header" style = "padding-bottom: 5%;font-size:7vh;">
            Current Projects
           <br><button id = "pbtn" class="nbtn" style=" width:18vh;">Previous</button> <button id = "nbtn" class="nbtn">Next</button>
        </h1>
        <span id = "addToMe" style = "display: block; background-color: #e6e6ff; width: 100%; border-radius: 20px; padding: 1%; font-size: 4vh;">
        Pantry Serverless Microservices Application
        <p  style = "font-size: 1.85vh;">
            <span style = "display: block; background-color: #c8c8ff; width: 36vh; border-radius: 20px;">
                <img style ="width: 12vh" src = "docker.png">
                <img style ="width: 10vh" src= "nodejs.svg">
                <img style ="width: 12vh" src= "kub.png"> 
            </span>
            <strong>Core Functionality</strong><br>User’s will be able to search recipes, and place recipes to a ‘cooking queue’, place recipes into a favorites list, add recipes to their private recipe list, and mark recipes as completed. Users will be able to add any pantry item into their online pantry, via manual logging or via barcode scanning from a camera. Users can create different grocery lists, one generated list will be ingredients needed from x marked recipes, minus the ingredients we already have in the pantry. Users will always be able to remove or add anything to any grocery list.
            <br><br>
            <strong>Technical Details</strong><br>Uses a Microservices Serverless Architecture on GCP using NodeJs. API's run in Docker and Kubernetes, DB's are in firestore (NoSQL).
            </p>
        </span>
    </div>
</body>
</html>