<html>
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Gasser Development</title>
</head>
<body>
<!-- Side Bar -->
<%- include('partials/sidebar.ejs') %>
<!-- Added HTML Via JavaScript -->
<div id='addToMe' class="window" style = "padding-left: 25%; padding-top: 5%; padding-right: 5%;">
    <h1 style = "font-size: 3vw" class="Header" >My Software Journey</h1>
    <ol style = "font-size: 2vh">
      <br/>
      <li>
        <strong>UW Baraboo (Sept 2017 - May 2019)</strong>
        <p style = "font-size: 1.75vh">
          I started my Computer Science Journey At UW-Baraboo, exploring what computer science was and what someone can do with computer science.
          However, I started taking many Math courses, and even started tutoring for the University, I decided to change my Major to Mathematics. I still 
          pursued Computer Science as a hobby, writing in C++ making such applications as Sudoku Puzzle Generators, then implementing different algorithms for 
          creating Sudoku puzzles, I eventually focused my Mathematics Career on Actuarial Science and left with my Associates degree to UW Whitewater. During the 
          summer between UW-Baraboo and UW-Whitewater I found my self always thinking about and working on small Computer Science Projects. At the end of the 
          Summer I changed my Major to Computer Science Comprehensive with a Minor in Mathematics. 
        </p>
      </li>
      <li>
        <strong>UW Whitewater (Sept 2019- May 2021) </strong>
        <p style = "font-size: 1.75vh">
          Here I quickly found a similarly motivated individual, a new professor who was looking to take on a CS Student as a Research Apprentice. From September 2019 to May 2020 
          we worked on learning and exploring the developing field of Machine Learning, building Co-Inference models, Federated Systems, Signal Processing 
          Algorithms, we worked on a lot of cutting edge methodologies in the field. Since Covid-19 hit most of our work turned to designing systems rather 
          than implementing code, as we had implemented using local computers located on Campus. I ended up making a Name to Gender Machine learning Program from the Apprenticeship, this 
          was a great accomplishment as the Neural Network had a record in accuracy for its classification out of any published work, the Neural Network was designed and implemented 
          by myself; although I utilized what the Professor and I had been researching on. Our Research will continue through September 2020 till May 2021.
          I still now continue my own projects in my own personal time <strong>(Check out my Portfolio Page!)</strong> I am also taking a Cloud Computing independent study,
          as 90% of Businesses utilize Cloud for Web Apps, I thought it was a critical part of my education that the University did not teach Undergraduates.
        </p>
      </li>
      <li>
        <strong>Epic Systems ( May 2020 - Current )</strong> 
        <p style = "font-size: 1.75vh">
          At Epic Systems I am exposed to an astonishing amount of intellectuals whom all strive to make all their tasks more streamlined. It is an inspiring place to work.
          Technologies I learned here were, .Net Core, GitLab, PXE Booting, Linux, Powershell, ASP.NET, SOAP Calls, and Configuration Manager.
          At Epic I work on the IT Team, working on Help-Desk tickets, Preparing Computers, and most importantly, working on internal IT software and tools. My Project 
          is developing, installing, and maintaining a Computer Check In Device. This device uses Linux, Python, Raspberry Pi, Logging, Multi-threaded Programming, SOAP Calls, 
          SQL Server NTLM Authentication, and RFID Card Authentication, I have to keep up with department feedback for improvements, as well as implement changes I 
          would like to make. This is my Software Journey so far.
        </p>
      </li>
    </ol>
</div>

</body>
</html> 