<html>
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="content.js"></script>
  <title>Gasser Development</title>
</head>
<body>
  <script>
    function CallAPI(){
      let name = document.getElementById("APIGrab").value
      let URL = "http://35.209.53.64/cgi-bin/TensorFlowApi/world.py/?name=" + name;
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open( "GET", URL , true );
      xmlHttp.send();
      document.getElementById("Cool").innerText = "Loading . . . This may take up to 16 Seconds"
      xmlHttp.onreadystatechange = function () {
        var Text = xmlHttp.responseText;
        var Prob = Text.search("Probability")
        Prob = Text.slice(Prob+15,Prob+23);
        var Gend = Text.search("Gender");
        Gend = Text.slice(Gend+10,Gend+11);
        if(Gend == 'M'){
          Gend = "Male";
        }
        else{
          Gend = "Female";
        }
        document.getElementById("Cool").innerText = name + " is " + Prob + "% likely " + Gend;
      }
    }
  </script>
<!-- Side Bar -->
<%- include('partials/sidebar.ejs') %>
<!-- Added HTML Via JavaScript -->
<div class="window" style = "padding-left: 25%; padding-top: 5%; padding-right: 5%;">
  <h1 class = "Header" style = "padding-bottom: 5%;">
    Portfolio   
    <br><button id = "pbtn" class="nbtn" style="width: 14%;">Previous</button> <button id = "nbtn" class="nbtn">Next</button>
  </h1>
    <span id = "addToMe" style = "display: block; background-color: #e6e6ff; width: 100%; border-radius: 20px; padding: 1%; font-size: 4vh;">
      NameGuess Machine Learning API 
      <p  style = "font-size: 1.85vh;" id = "main">
        <span style = "display: block; background-color: #c8c8ff; width: 46vh; border-radius: 20px;">
          <img style ="width: 15vh" src = "cloud-logo.svg">
          <img style ="width: 15vh" src= "lockup.svg">
          <img style ="width: 3vh" src= "tux.png">
          <img style ="width: 10vh" src= "apache2.png">
        </span>
        Created an API that utilizes TensorFlow on Google Cloud Platform Compute Engine. This API receives a HTTP request that contains a Name parameter. 
        My NameGuess.py Neural Network then is given the string, converts the data for most optimal accuracy. Firstly trimming to 9 characters long, 
        then zero-filling from the back. Next it converts the characters into their ascii values, after this for improved accuracy I convert 
        the name into a 2 Dimensional array of ones and zeros 
        (OneHotEncoding) then the Neural Network uses Convoluted Neural Layers to do its work and I return the NN Answer in a JSON Package. <br><br>
        Hosted on Google Cloud Compute Engine (Similar to Azure Compute).
        <br>
        <br>
        Name:
        <input id="APIGrab">
        </input>
        <button onclick="CallAPI()" >Call API
        </button><p style="font-size: 1.5vh;"><em>To Note, This is Hosted on the <strong>Cheapest</strong> Device in GCP so it takes Approximately 10 Seconds to Work.</em></p>
    </p>
    </span>
    <span style = "display: block; width: 100%; border-radius: 20px; padding: 1%; font-size: 4vh;" id="Cool">
    </span>
</div>
</body>
</html> 